*{
    box-sizing: border-box;
}

#txt-head{
    flex-direction: row;
    border-collapse: separate;
    border-spacing: 10px;
    }

#head {
    background-color: #9cd3ac;
}

#menu-nav{
    display: flex;
    display: inline-block;
    vertical-align: 80%;
}


#main1 {
    width: 90%;
    height: 90%;
    border: 5px solid #1c5434;
}

#txt-main1 {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 5px ; background-color:#9cd3ac;
    height: 250px;
}

#tabla-prod-index{
text-align: center;
background-color: #548f6d;
height: 30px;
}

#tabla-prod-1{
    background-color: #9cd3ac;
    border: 5px solid #1c5434
}

#tabla-prod-img {
    max-width:50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px #1f4e34;
}


#donde-estamos{
    display: table; 
    margin: 0px auto 0px auto; 
    padding: 5px ; background-color:#9cd3ac;
    border: 5px #1c5434;
    
}

#mapa {
    border: 5px #1c5434;
}

#tabla-abajo{
    background-color: #d3edec;
}

#texto-relleno-1{
    width: 30px;
}

#texto-firma {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


/* Uso de flexbox (nuestros-p) */
#lista-head{
    display: flex;
    flex-direction: row;
    background-color: #9cd2ac;

}

.logo-head{
    flex-direction: column;
    list-style: none;
    margin-left: 15vw;
    align-self: right;
}

.txt-head{
    flex-direction: column;
    text-align: justify;
    list-style:none;
    background-color: #b1d6bc ;
    align-self: left;
    margin-left: 8px;
    padding: 5px 0px 5px;

}

#flex-productos{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    text-align: center;
    background-color: #548f6d;
    justify-content: center;
}

#items-comida {
width: fit-content;
text-align: center;
background-color: #294d38;
border: #294d38;
}

.img-comida{
    width: 29vw;
    height: auto;
}

.item-grid {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#logos-contacto{
    background-color: #d3edec
}

.texto-foot {
    text-align: end;
}

/* Viewports */

@media all and (max-width: 600px){

.texto-titulo{
text-align: center;
}

.img-comida{
    width: 40vw;
    height: auto;
    align-items: center;
}

#lista-head{
flex-direction: column;
}
}