.footer {
    background-color: #d3edec;
}

.texto-buscanos {
    background-color: #d3edec;
    font-family: $fuente;
}


footer {
    article {
        section {
            a {
                img {
                    background-color: #d3edec;
                    padding: 5px;
                }
            }
        }

        p {
            text-align: end;
            background-color: #d3edec;
            font-family: $fuente;
        }

        }
    }
