* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
$fuente: "Courier New";
$C-verde-claro: #9cd3ac;
$C-verde-nor: #548f6d ;
$C-verde-oscuro: #1c5434;
$C-bordes: #162c1f;

/* Me gustaria poder cambiar el color de fondo acorde a la hora, pero creo que aun no llegamos a eso, me imagino que estara compuesto de manera similar al apartado fondo gral */

@import "header.scss";
@import "index.scss";
@import "nuestros-p.scss";
@import "quienes-somos.scss";
@import "servicios.scss";
@import "sin-gluten.scss";
@import "footer.scss";

body {
    $color-fondo: 32;

    @if $color-fondo == 32{
        background-color: #dff8e7;
    }

    @else if $color-fondo == 43{
        background-color: black;
    }
}

.titulo-principal {
    text-align: center;
    display:block;
    background-color: #5daf82;
    border: 3px solid $C-bordes;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $fuente;
    border-radius: 45px;
}

.tabla-prod-index {
    align-items: center;
    background-color: $C-verde-nor;
    height: 30px;
}

.tabla-prod-1 {
    background-color: $C-verde-claro;
    border: 5px solid $C-verde-oscuro;
}

.tabla-prod-img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px #1f4e34;
}

.texto-relleno-1 {
    width: 30px;
    font-family: $fuente;
}

.texto-firma {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.items-comida {
    width: fit-content;
    text-align: center;
    background-color: #294d38;
    border: 5px solid $C-verde-oscuro;
}

.img-comida {
    width: 29vw;
    border: 5px solid $C-verde-oscuro;
    height: auto;
}

.item-grid {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


/* Viewports */

@media all and (max-width: 600px) {

    .imagen-y-txt{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        padding-top: 10px;
    }
    
    .logo{
        width: 200px;
        height: 100px;
    }

    .txt-head{
        display: block;
    }

    .head {
        background-color: $C-verde-claro;
        flex-direction: column;
        justify-content: space-around
    }
    
    .main1 {
        height: 290px;
        width:49vw ;
        border: 5px solid $C-verde-oscuro;
        display: inline;
        grid-column: 1/2;
        border: 3px solid $C-bordes;
        background-color: #9cd2ac;
    }
    
    .txt-main1 {
        display: inline-block;
        justify-content: top;
        text-align: center;
        padding: 5px;
        background-color: $C-verde-claro;
        height: 290px;
        width:49vw;
        grid-column: -2/-1;
        border: 3px solid $C-bordes;
        background-color: #9cd2ac
    }

    .titulo-principal {
        text-align: center;
        padding:  5px;
    }

    .img-comida {
        width: 40vw;
        height: auto;
        align-items: center;
    }


    /* Viewports footer*/
    .logos-contacto{
        display: flex;
        justify-content: center;
    }

    .txt-main1{
        width: 100vw;
    }

    .main1{
        width: 100vw;
    }
}